reg/tmp.*
reg/TSFibo.rand-*
reg/TSPairHeap*rand-*
reg/TSBucketHeap.rand-*
reg/TSCD.geom.*
bench-out/*
*.o
test
bench
bench.s
bench2
bench-heap*
!bench-heap*.c
test-rand-mt
test-nn
test-surf-match
test-cd-spheres
test-cd-trimesh
test-cd-ode
test-cd-ode.meas
tmp.hdf5.h5
msg-schema.gen.h
msg-schema.gen.c
msg-schema-gen
msg-schema-regen
msg-schema-cmp
msg-schema-print
