regressions/tmp.*
regressions/TSFibo.rand-*
regressions/TSPairHeap.rand-*
regressions/TSCD.geom.*
bench-out/*
*.o
test
bench
bench.s
bench2
bench-heap*
!bench-heap*.c
test-rand-mt
test-nn
test-surf-match
test-cd-spheres
test-cd-trimesh
test-cd-ode
test-cd-ode.meas
tmp.hdf5.h5


