*.a
*.so
*.o
*~
config.h
fer-*
gann-*
fermat/pc[234].h
fermat/cubes[234].h
src/pc[234].c
src/cubes[234].c
src/*-cl.c
src/cfg-lexer.c
src/cfg-lexer-gen.h
Makefile.local
examples/cd-ode
examples/cd-sep
examples/cd-simple-collision
examples/cd-trimesh-collision
examples/ga-knapsack
examples/ga-knapsack2
examples/kohonen-simple

